h3 
  | Single View
  small WELCOME!

.row
  .col-xs-12.text-center
    h2.text-thin Single view content
    p This project is an application skeleton. You can use it to quickly bootstrap your angular webapp projects and dev environment for these projects. 
      br 
      | The seed app doesn't do much and has most of the feature removed so you can add theme as per your needs just following the demo app examples.
