nav
    tabset(justified="true")
        tab
            tab-heading 
                em.fa.fa-gear.fa-lg
            div(ng-include="'app/views/partials/offsidebar-tab1.html'")
        tab
            tab-heading
                em.fa.fa-users.fa-lg
            div
                div(ng-include="'app/views/partials/offsidebar-tab2.html'")