.aside-inner
    nav.sidebar(sidebar="", sidebar-anyclick-close="")
        ul.nav
            li
                a(ui-sref="app.singleview", title='Home')
                    em.fa.fa-dashboard
                    span Home
            li
                a(ui-sref="app.singleview", title='Single View')
                    em.fa.fa-phone
                    span Single View
            li
                a(ui-sref="app.submenu", title='Sub Menu')
                    em.fa.fa-fax
                    span Sub Menu